<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <title>Kontakty</title>
    <style>
        body {
        }

    </style>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
<div id="header">
    <div id="contacts"><a href="/" id="title">Kontakty</a></div>
    <div id="search">
        <form action="/searchGroup" method="GET">
            <input type="text" class="search" name="search" placeholder="podaj imię lub nazwisko">
        </form>
    </div>
</div>

<div id="nav">
    <form action="/new">
        <input type="submit" name="new" value="Dodaj kontakt">
    </form>
    <form action="/addGroup">
        <input type="submit" value="Dodaj grupę">
    </form>
</div>

<div id="header2">
    {% block header %}
    {% endblock %}
</div>

<div id="main">
    <div id="list">
        {% block groups %}
        {% endblock %}
    </div>
    <div id="content">

        {% block content %}
        {% endblock %}
    </div>
</div>

<div id="footer">

</div>
</body>
</html>
