{% extends "base.html" %}


{% block groups %}
    <table class="groups">
        <tr>
            <th>Moje grupy</th>
        </tr>
        {% for i in groups %}
            <tr class="head_group">
                <td><a href="/group/{{ i.id }}">{{ i.name }}</a></td>
            </tr>
        {% endfor %}
    </table><br>
{% endblock %}




{% block header %}
    <h2> {% if contact.photo %}
        {#                dodać usuwanie zdjęcia!#}
        <img src="{{ contact.photo.url }}" alt="profile_photo" height="52" width="52">
    {% else %}
        {% load static %}
        <img src="{% static "user.png" %}" alt="no_image" height="52" width="52">
    {% endif %}
        {{ contact.name }} {{ contact.lastname }}<span> {{ contact.description }} </span>
    </h2>
{% endblock %}

{% block content %}
    {% if contact.address %}
        <table>
            <tr>
                <th>Adres</th>
            </tr>
            <td>{{ contact.address.city }}<br>
                {{ contact.address.street }} {{ contact.address.house_no }} m. {{ contact.address.flat_no }}</td>
            <td><a href="/deleteAddress/{{ contact.id }}">usuń adres</a></td>
        </table><br>
    {% endif %}

    {% if contacts %}
        <table>
            <tr>
                <th>Numer</th>
                <th>Rodzaj</th>
            </tr>
            {% for i in contacts %}
                <tr>
                    <td>{{ i.no }}</td>
                    <td>{{ i.get_no_type_display }}</td>
                    <td><a href="/deletePhone/{{ i.id }}">usuń numer</a></td>
                </tr>
            {% endfor %}
        </table><br>
    {% endif %}

    {% if emails %}
        <table>
            <tr>
                <th>Email</th>
                <th>Rodzaj</th>
            </tr>
            {% for i in emails %}
                <tr>
                    <td>{{ i.email }}</td>
                    <td>{{ i.get_email_type_display }}</td>
                    <td><a href="/deleteEmail/{{ i.id }}">usuń email</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br>
    <form action="/addParticipants/{{ contact.id }}">
        <label>
            <input type="submit" value="Dodaj do grup">
        </label>
    </form>
    <a href="/modify/{{ contact.id }}">
        <button type="button">Edytuj
    </a>
{% endblock %}
