{% extends "base.html" %}


{% block header %}
    <h2>Grupy</h2>
{% endblock %}


{% block content %}
    <table>
        <tr>
            <th>Nazwa grupy</th>
        </tr>
        {% for i in groups %}
            <tr>
                <td><a href="/group/{{ i.id }}">{{ i.name }}</a></td>
            </tr>
        {% endfor %}
        <style>
            tr {
                text-align: left;
            }

            th {
                text-align: center;
            }
        </style>
    </table><br>
{% endblock %}