{% extends "base.html" %}

{% block groups %}
    <table class="head_group">
        <tr>
            <th>Lista grup</th>
        </tr>
        {% for i in groups %}
            <tr class="head_group">
                <td><a href="/group/{{ i.id }}">{{ i.name }}</a></td>
            </tr>
        {% endfor %}
    </table><br>
{% endblock %}

{% block content %}
    <table>
        {% for i in contacts %}
            <tr class="name_link">
                <td><a href="/show/{{ i.id }}">
                    {% if i.photo %}
                        {# dodać usuwanie zdjęcia!#}
                        <img src="{{ i.photo.url }}" alt="profile_photo" height="52" width="52">
                    {% else %}
                        {% load static %}
                        <img src="{% static "user.png" %}" alt="no_image" height="52" width="52">
                    {% endif %}
                    {{ i.name }} {{ i.lastname }}</a></td>
                <td id=description>{{ i.description }}</td>
                <td><a href="/modify/{{ i.id }}">edytuj</a><br>
                    <a href="/delete/{{ i.id }}">usuń</a></td>
            </tr>
        {% endfor %}
    </table><br>
{% endblock %}